/* Basic reset for margins and paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Noto Serif', serif;
}

/* Header styling */
.header {
    background-color: #0066FF; 
    color: white;
    padding: 10px 20px;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.header h1 {
    display: inline;
    font-size: 32px;
    font-weight: bold;
}

.header nav {
    float: right;
    margin-top: 10px;
}

.header nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-size: 16px;
}

.header nav a:hover {
    text-decoration: underline;
}

/* Profile container styling */
.profile-container {
    max-width: 800px;
    margin: 50px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.profile-picture {
    flex-shrink: 0;
    margin-right: 20px;
}

.profile-picture img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
}

.profile-details {
    max-width: 700px;
    margin: 0 auto; 
    padding: 20px;
}

.profile-details h2 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 10px;
}

.profile-details p {
    margin-bottom: 10px;
    font-size: 16px;
}

.profile-details a {
    color: #0066FF;
    font-weight: bold;
    text-decoration: none; /* 밑줄 제거 */
}

.profile-details a:hover {
    text-decoration: underline; /* 링크에 마우스를 올릴 때 밑줄 표시 */
}

.dots-container {
    text-align: center;
    margin-top: 10px;
}

.dot {
    height: 12px;
    width: 12px;
    margin: 0 5px;
    background-color: #ccc;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.divider {
    width: 800px;
    height: 1px;
    background-color: #000;
    margin: 20px auto;
    border: none;
}


/* Main content styling */
.content {
    /* background-color: #4CAF50; */
    max-width: 800px; /* 최대 너비를 프로필 섹션과 동일하게 설정 */
    margin: 20px auto;
    padding: 20px;
}

/* Add some height to demonstrate scrolling */
.content p {
    margin-bottom: 20px;
}

.education-item {
    /* background-color: #FF00FF; */
    max-width: 800px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 20px auto 40px auto;
}

.education-text {
    flex: 3;
    text-align: left;
}

.education-text a {
    color: #0066FF;
    font-weight: bold;
    text-decoration: none; /* 밑줄 제거 */
}

.education-period {
    color: #0066FF; /* 원하는 색상으로 변경 */
}


.education-image {
    width: 120px;
    /* background-color: #912356; */
    /* flex: 1; */
    text-align: left;
}

.education-image img {
    background-color: #0000FF;
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.project-item {
    /* background-color: #FF00FF; */
    max-width: 800px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 20px auto 40px auto;
}

.project-text {
    flex: 3;
    text-align: left;
    margin-right: 20px;
}

.project-period {
    color: #0066FF; /* 원하는 색상으로 변경 */
}


.project-image {
    flex: 1;
    text-align: center;
}

.project-slide img {
    background-color: #0000FF;
    width: 320px;
    height: 180px;
    object-fit: cover;
    box-shadow: 0px 4px 8px rgba(12, 12, 12, 0.2);
    /* border-radius: 5px; */
}

.tag-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    gap: 10px;
    max-width: 320px;
}

.tag {
    background-color: #0066FF;
    color: white;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 14px;
    display: inline-block;
}

.publication {
    /* background-color: #4CAF50; */
    max-width: 800px; /* 최대 너비를 프로필 섹션과 동일하게 설정 */
    margin: 20px auto;
    padding: 20px;
}

.career-item {
    /* background-color: #FF00FF; */
    max-width: 800px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 20px auto 40px auto;
}

.career-text {
    flex: 3;
    text-align: left;
    margin-right: 20px;
}

.career-text a {
    color: #0066FF;
    font-weight: bold;
    text-decoration: none; /* 밑줄 제거 */
}

.career-period {
    color: #999999;
    font-weight: 400;
    font-size: 14px; 
    line-height: 1.5;
}